@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@300&display=swap');

body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #262626;
    scroll-behavior: smooth;
}
.header{
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: transparent;
}
.main{
    width: 100%;
    height: 100%;
    display:grid;
}
.main .first-area{
    background-image: url('../Images/background-1.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    height: 100%;
}
.header-top{
    display: flex;
    place-items: center;
}
#photo-header{
    margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
}
.title-header{
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    
}
.subtitle-header{
    text-align: center;
    font-size: 16px;
    color: #F2F2F2;
}
.header-link{
    display: flex;
    place-items: center;
}
.header-link a{
    text-decoration: none;
    font-size: 21px;
    margin: 0px 30px;
    font-family: fantasy;
    color:#F2F2F2;
    position: relative;
    padding: 10px 15px 10px 15px;
    z-index: 3;
}
.header-link a:hover{
    color: #0A0B0D; 
}
.header-link a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
.header-link a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.header-link a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: #F2F2F2;
    border: 2px solid #0A0B0D;
    z-index: -1;
    transition: transform .3s ease;
    border-radius: 20px;
}
.header-link .line{
    height: 20px;
    width: 1px;
    background-color: #F2F2F2;
}
.header-abs{
    display: flex;
    margin-right: 50px;
    width: 900px;
}
.header-contact{
    margin-left: 20px;
}
.header-contact .header-icons{
    font-size: 30px;
    margin: 0px 10px;
}
.header-contact .header-icons:hover{
    background-color: #F2F2F2;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #0A0B0D;
}
.header-contact .header-icons i:hover{
    color: #0A0B0D;
}
.main-window{
    z-index: 3;
    width: 100%;
    height: 700px;
    margin-bottom: 150px;
}
.main-title{
    background-color: transparent;
    width: 1500px;
    margin-top: 100px;
    padding-left: 40px;
    text-align: left;
    padding: 20px 0px 20px 40px;
    align-items: center;
}
.main-title .main-title-zone{
    font-size: 30px;
    color: white;
    margin-left: 30px;
    position: relative;
    animation: animation 2s ease-out;
}
@keyframes animation {
    0% {
      opacity: 0;
      left: -700px;
    }

    100% {
      opacity: 1;
      left: 0;
    }
  }
.main-title .main-title-zone .second-title{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 25px;
    font-weight: 900;
}
.about-me-zone{
    padding: 50px 100px;
    color: #0A0B0D;
    font-family: fantasy;
    background-color: #F2F2F2;
    padding-bottom: 100px;
}
.about-me-zone .about-me-title{
    font-weight: bolder;
    font-size: 30px;
}
.about-me-zone .about-me-desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    padding-left: 30px;
    font-size: 23px;
}
.skill-zone{
    margin: 70px 200px;
    height: 500px;
}
.skill-zone h1{
    color: #F2F2F2;
    font-size: 40px;
}
.skill-zone .skills-list .three-skills-area{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.three-skills-area .skill-post{
    background-color: #F2F2F2;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    border: 5px solid #595959;
}
.three-skills-area .skill-post .skill-image{
    width: 100px;
    height: 100px;
}
.three-skills-area .skill-post .skill-post-text{
    display: grid;
}
.skill-title{
    margin: 10px 0px 0px 40px;
    font-size: 25px;
    font-weight: 700;
    font-family: fantasy;
}
.skill-desc{
    font-size: 18px;
    font-family: fantasy;
    font-weight: 100;
    margin-left: 40px;
}
.projects-zone{
    background-color: white;
}
.projects-zone h1{
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 40px;
}
.projects-zone-post{
    margin: 40px 200px;
    
}
.projects-zone-post .two-project-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px ;
}
.projects-zone-post .two-project-area a{
    text-decoration: none;
    color: black;
}
.projects-zone-post .two-project-area a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 40px;
}
.projects-zone-post .two-project-area .project-post{
    width: 600px;
    border: 5px solid #262626;
    border-radius: 40px;
    padding: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
}

.project-post .project-post-title{
    font-size: 24px;
    margin-bottom: 13px;
    font-weight: 600;
}
.project-post .project-post-desc{
    font-size: 18px;
}

.project-post .project-languages{
    margin-bottom: 30px;
}

#Python{
    background-color: #EFCA33; 
}
#Linux{
    background-color: #1B1A26;
}
#C-sharp{
    background-color: #BF04A0;
}
#SQL-server{
    background-color: #BF0413;
}
#JavaScript{
    background-color: #F2E529;
    color: #0A0B0D;
}
#Three-js{
    color: #0A0B0D;
}
#Open-CV{
    background-color: olivedrab;
}
#ASP-NET{
    background-color: #193073;
}
.project-languages .tools-box{
    color: white;
    margin-right: 5px;
    font-weight: 700;
    padding: 6px;
    font-size: 14px;
    border-radius: 30px;
    border: 2px solid #262626;
    height: 1px;
    width: 50px;
}
.media-project{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
#QBO-Image-1{
    width: 340px;
    height: 300px;
    border: 5px solid #0A0B0D;
}
#QBO-Image-2{
    width: 200px;
    height: 300px;
    
}
#TheGammingHour-video{
    width: 550px;
    height: 300px;
    border: 5px solid #0A0B0D;
}

.Education-zone{
    color: white;
    margin: 50px 300px;
    
}
.Education-zone h1{
    font-size: 40px;
}
.Education-zone ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.Education-zone ul li{
    margin-left: 30px;
    font-family: fantasy;
}
.Education-zone ul li .education-grad{
    font-size: 30px;
    
}
.Education-zone ul li .education-inst{
    font-weight: 700;
}
.circle{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    background-color: #F2F2F2;
    position: relative;
    top: 100px;
    left: -120px;
    margin-right: 10px;
}

.footer-zone{
    background-color: black;
    height: 70px;
    display: flexbox;
    text-align: center;
    color: #595959;
    padding: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.footer-zone .footer-name{
    font-size: 20px;
    font-weight: 600;
}
